/* Normal desktop. */
@media (max-width: 1199px) {
  h2 {
    font-size: 28px;
    line-height: 20px;
  }
  h3 {
    font-size: 26px;
  }
  .white-btn,
  .blue-btn {
    font-size: 13px;
    padding: 8px 28px;
  }
  .container {
    margin: 0 5px;
  }
  .logo a img {
    max-width: 150px;
  }
  .main-menu > nav > ul {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .main-menu > nav > ul > li {
    padding: 20px 0;
  }
  .main-menu > nav > ul > li > ul {
    top: 70px;
  }
  .news-slider {
    max-width: 92%;
  }
  .news-slider .news-slide div {
    padding: 15px;
    bottom: 15px;
    left: 50%;
    height: 100px;
  }
  .news-slider .news-slide div p {
    font-size: 16px;
    line-height: 20px;
  }
  .news-slider .news-slide div a {
    width: 35px;
    height: 35px;
  }
  .events-calendar {
    max-width: 410px;
  }
  .events-details .events-list .events-item {
    gap: 10px;
    padding: 10px;
  }
  .partners-title .partners-bg {
    display: none;
  }
  .partners-title .swiper-button-prev {
    left: 92%;
  }
  .partners-title .swiper-button-next {
    left: 96%;
  }
  .footer-item .footer-logo {
    max-width: 120px;
  }
}
/* Tablet Device */
@media (max-width: 991px) {
  body {
    font-size: 12px;
  }
  .white-btn,
  .blue-btn {
    padding: 6px 22px;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
    line-height: 16px;
  }
  .logo a img {
    max-width: 85px;
  }
  .main-menu > nav > ul {
    gap: 5px;
  }
  .main-menu > nav > ul > li a {
    font-size: 13px;
  }
  .main-menu > nav > ul > li > ul {
    top: 65px;
    width: 250px;
  }
  .hero-area {
    height: 420px;
  }
  .hero-overlay {
    width: 500px;
    height: 420px;
  }
  .hero-content {
    height: 420px;
  }
  .hero-btns {
    margin-top: 20px;
    gap: 12px;
  }
  .news-area {
    padding: 50px 0;
    position: relative;
  }
  .news-slider .news-slide div {
    padding: 10px;
    bottom: 15px;
    height: 70px;
  }
  .news-slider .news-slide div p {
    font-size: 14px;
    line-height: 16px;
  }
  .events-calendar {
    max-width: 335px;
  }
  .mbsc-calendar-header.mbsc-ios {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  button.mbsc-calendar-button {
    font-size: 18px !important;
    font-weight: 600;
  }
  .mbsc-picker-header {
    position: absolute;
    top: 48px;
    left: 25px;
    font-size: 14px;
  }
  .events-details .events-list .events-item .events-text p {
    gap: 5px;
    font-size: 14px;
  }
  .events-details .events-list .events-item {
    gap: 5px;
    padding: 5px;
  }
  .events-details .events-list .events-item .events-text p {
    font-size: 12px;
  }
  .events-details .events-btn {
    margin-top: 20px;
  }
  .partners-title .swiper-button-prev {
    left: 86%;
  }
  .partners-title .swiper-button-next {
    left: 94%;
  }
  .partners-title .swiper-button-next::after,
  .partners-title .swiper-button-prev::after {
    font-size: 16px;
  }
  .about-area {
    padding: 30px 0;
  }
  .about-details .right {
    max-width: 550px;
  }
  .about-banner {
    margin-top: 25px;
    height: 350px;
  }
  .about-social {
    padding: 20px;
    border-radius: 5px;
  }
  .about-social .fb,
  .about-social .ins,
  .about-social .yt {
    gap: 12px;
  }
  .about-social .fb i,
  .about-social .ins i,
  .about-social .yt i {
    font-size: 22px;
  }
  .partners-title .partners-btns button i {
    font-size: 20px;
  }
  .partners-area {
    padding: 30px 0;
  }
  .footer-area {
    padding-top: 50px;
  }
  .footer-item .footer-address {
    font-size: 13px;
    gap: 8px;
  }
}
/* Mobile Device */
@media (max-width: 767px) {
  .logo a img {
    max-width: 115px;
  }
  .main-menu {
    z-index: 999;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    width: 280px;
    transition: all linear 0.3s;
    background-color: var(--gray);
  }
  .menu-right {
    left: 0;
  }
  .main-menu > nav > ul {
    padding: 20px;
    gap: 0;
    align-items: baseline;
    flex-direction: column;
  }
  .main-menu > nav > ul > li {
    padding: 0;
    width: 100%;
  }
  .main-menu > nav > ul > li a {
    padding-left: 10px;
    display: block;
  }
  .main-menu > nav > ul > li > ul {
    top: 35px;
    padding: 12px;
    width: 250px;
  }
  .mobile-menu {
    display: block;
  }
  .news-slider {
    max-width: 90%;
  }
  .news-slider .news-slide {
    max-width: 400px;
  }
  .events-content {
    flex-direction: column;
  }
  .events-calendar {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .about-details .right {
    max-width: 375px;
  }
  .about-banner {
    height: 300px;
  }
  .about-social {
    padding: 15px;
  }
  .about-social .fb::after,
  .about-social .ins::after {
    right: -15px;
  }
  .footer-item {
    max-width: 33%;
    min-width: 125px;
  }
  .footer-item ul li {
    font-size: 12px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: baseline;
  }
  .footer-bottom .left {
    gap: 10px;
  }
}
/* Small Mobile Device */
@media (max-width: 575px) {
  h1 {
    font-size: 25px;
    line-height: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 12px;
    line-height: 12px;
  }
  .white-btn,
  .blue-btn {
    border-radius: 30px;
    padding: 0 12px;
    font-size: 12px;
  }
  .white-btn i,
  .blue-btn i {
    margin-left: 5px;
  }
  .ht-content {
    flex-direction: column;
  }
  .ht-contact {
    gap: 10px;
  }
  .hero-area {
    height: 250px;
  }
  .hero-overlay {
    width: 330px;
    height: 250px;
  }
  .hero-content {
    height: 250px;
  }
  .news-area {
    padding: 30px 0;
  }
  .news-slider {
    max-width: 82%;
  }
  .news-area .swiper-button-prev::after,
  .news-area .swiper-button-next::after {
    font-size: 16px;
  }
  .partners-title .swiper-button-next {
    left: 92%;
  }
  .partners-title .swiper-button-prev {
    left: 82%;
  }
  .about-details {
    flex-direction: column;
  }
  .about-social .fb i,
  .about-social .ins i,
  .about-social .yt i {
    font-size: 18px;
  }
  .about-social .fb::after,
  .about-social .ins::after {
    right: 0px;
  }
  .partners-title .partners-btns button i {
    font-size: 15px;
  }
  .partners-slider .partners-slide div img {
    height: 41px;
  }
  .partners-slider .partners-slide div p {
    font-size: 12px;
    line-height: 12px;
  }
  .partners-slider {
    margin: 15px 0;
  }
  .footer-item {
    max-width: 100%;
  }
  .footer-bottom .left {
    flex-direction: column;
    gap: 0;
  }
  .main-menu {
    width: 265px;
  }
}
